<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

    {% include navbar.html %}

    <div class="{% if page.fluid == false %}container{% else %}container-fluid{% endif %}">

        <div class="col-sm-12" role="main">
            {% include breadcrumb.html %}

            {% include pageheader.html %}

            {{ content }}

        </div>

        <div class="row">
            &nbsp;
        </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

</body>

</html>
